@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto|Montserrat|Oswald");

$main-font : "Roboto", sans-serif;

$font-back-titre : "Montserrat", sans-serif;

$font-logo-team : "Kaushan Script", cursive;

$font-stylise-front : "Oswald", sans-serif;

$color-spe1 : #00A2D6; //bleu
$color-spe2 : #E3C120; //jaune
$color-spe3 : #FF6F94;//rose
$color-spe4 : #3AD893;// vert