@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto.ttf);
}
@font-face {
    font-family: oswald;
    src: url(../fonts/oswald.woff);
}

$color-spe1:#00A2D6;
$color-spe2:#E3C120;
$color-spe3:#FF6F94;
$color-spe4:#3AD893;

$color-spe-list:$color-spe1 $color-spe2 $color-spe3 $color-spe4;

@mixin default-button($color){
    color: $color;  
    width:15em;
    height:3em;
    z-index:1;
    text-align:center;
    line-height:3em;
    font-family: roboto;
    cursor:pointer;
}
@mixin default-button-pseudo($margin,$color,$translate){   
    position:absolute;
    display:block;
    width:15em;
    height:3em;
    content: "";
    border: 2px solid $color;
    z-index:2;
    transition: margin 0.3s;
    margin: $margin;
    transform:translateY($translate);
}

$colors: black white;

@each $var in $colors {
    .btn-doubleboxed-#{$var}{@include default-button($var);}
    .btn-doubleboxed-#{$var}::before{@include default-button-pseudo(0px 0 0 0px, $var, 0);}
    .btn-doubleboxed-#{$var}::after{@include default-button-pseudo(4px 0 0 4px, $var , calc(-100% + 4px));}
    
    .btn-doubleboxed-#{$var}:hover{font-weight:bold;}
    .btn-doubleboxed-#{$var}:hover::before{margin:2px 0 0 2px;}
    .btn-doubleboxed-#{$var}:hover::after{margin:2px 0 0 2px;}
}
@for $i from 1 to 5 {
    $var: nth($color-spe-list, $i);
    .btn-doubleboxed-spe#{$i}{@include default-button($var);}
    .btn-doubleboxed-spe#{$i}::before{@include default-button-pseudo(0px 0 0 0px, $var, 0);}
    .btn-doubleboxed-spe#{$i}::after{@include default-button-pseudo(4px 0 0 4px, $var , calc(-100% + 4px));}
    
    .btn-doubleboxed-spe#{$i}:hover{font-weight:bold;}
    .btn-doubleboxed-spe#{$i}:hover::before{margin:2px 0 0 2px;}
    .btn-doubleboxed-spe#{$i}:hover::after{margin:2px 0 0 2px;}
}

@mixin form-input($background){
    background-image: $background;
    font-family: roboto;
    width:90%;
    max-width:800px;
    height:5vh;
    font-size:16px;
    padding-left:70px;
    background-color:rgba(255,255,255,0);
    border:0;
    border-bottom:1px solid #FFFEFC;
    color:#FFFEFC;
    font-style: italic;
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: auto 60%;
}

$styles: default login pass;

@each $var in $styles {
    .form-input-#{$var}{@include form-input(url('../svg/'+$var+'.svg'));}
    .form-input-login:focus{outline: none;}
}

@mixin btn-basic($color){
    background-color: $color;
    border-radius: 50px;
    font-family: roboto;
    font-size:14px;
    text-align:center;
    padding:10px 25px;
    min-width:100px;
    transition:background-color 0.5s;
    color:white;
    border:0; 
    cursor:pointer;
    font-weight: 500;
}

@each $var in $colors {
    .btn-basic-#{$var}{
        @include btn-basic($var);
    }
    .btn-basic-#{$var}:hover{background-color: lighten( $var, 30% );}
    .btn-basic-#{$var}:focus{outline: none;}
}

@for $i from 1 to 5 {
    $var: nth($color-spe-list, $i);
    .btn-basic-spe#{$i}{
        @include btn-basic($var);
    }
    .btn-basic-spe#{$i}:hover{background-color: lighten( $var, 15% );}
    .btn-basic-spe#{$i}:focus{outline: none;}
}

.form-light-container{
    padding: 5px 20px;
    background-color: #FFFEFC;
    width:94%;
    margin-left:3%;
}
.form-light{
    outline: none;
    display: block;
    width: 100%;
    padding: 2px 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 3px;
    font-size: 16px;
    font-family:roboto;
    height: 45px;
    resize:none;
    overflow: hidden;
}
.form-light-button{
    text-align:center;
    background-color: #00A2D6;
    border:none;
    border-radius:80px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
    margin:10px;
}

.form-light-button{
    background:linear-gradient(to bottom, #00A2D6 5%, #00A2D6 100%);
    background-color:#34CACA;
}

.form-light-color{
    height:30px;
    line-height: 30px;
    font-size: 16px;
    font-family:roboto;
    padding-left:5px; 
}

.form-light-line{
    padding: 2px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-top: 10px;
    font-size: 16px;
    font-family:roboto;
    height: 45px;
    resize:none;
    overflow: hidden;
}

$icons: heart home cross login;

@mixin btn-icon($icon){
    width:80px;
    height:80px;
    border-radius: 100%;
    background-image: $icon;
    background-size: 55% auto;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer; 
}

@for $i from 1 to 5 {
    $icon: nth($icons, $i); 
    .btn-icon-#{$icon}{
        @include btn-icon(url(../svg/#{$icon}.svg));
    }
    .btn-icon-#{$icon}:focus{outline: none;}
}