@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto.ttf); }

@font-face {
  font-family: oswald;
  src: url(../fonts/oswald.woff); }

.btn-doubleboxed-black {
  color: black;
  width: 15em;
  height: 3em;
  z-index: 1;
  text-align: center;
  line-height: 3em;
  font-family: roboto;
  cursor: pointer; }

.btn-doubleboxed-black::before {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid black;
  z-index: 2;
  transition: margin 0.3s;
  margin: 0px 0 0 0px;
  transform: translateY(0); }

.btn-doubleboxed-black::after {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid black;
  z-index: 2;
  transition: margin 0.3s;
  margin: 4px 0 0 4px;
  transform: translateY(calc(-100% + 4px)); }

.btn-doubleboxed-black:hover {
  font-weight: bold; }

.btn-doubleboxed-black:hover::before {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-black:hover::after {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-white {
  color: white;
  width: 15em;
  height: 3em;
  z-index: 1;
  text-align: center;
  line-height: 3em;
  font-family: roboto;
  cursor: pointer; }

.btn-doubleboxed-white::before {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid white;
  z-index: 2;
  transition: margin 0.3s;
  margin: 0px 0 0 0px;
  transform: translateY(0); }

.btn-doubleboxed-white::after {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid white;
  z-index: 2;
  transition: margin 0.3s;
  margin: 4px 0 0 4px;
  transform: translateY(calc(-100% + 4px)); }

.btn-doubleboxed-white:hover {
  font-weight: bold; }

.btn-doubleboxed-white:hover::before {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-white:hover::after {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe1 {
  color: #00A2D6;
  width: 15em;
  height: 3em;
  z-index: 1;
  text-align: center;
  line-height: 3em;
  font-family: roboto;
  cursor: pointer; }

.btn-doubleboxed-spe1::before {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #00A2D6;
  z-index: 2;
  transition: margin 0.3s;
  margin: 0px 0 0 0px;
  transform: translateY(0); }

.btn-doubleboxed-spe1::after {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #00A2D6;
  z-index: 2;
  transition: margin 0.3s;
  margin: 4px 0 0 4px;
  transform: translateY(calc(-100% + 4px)); }

.btn-doubleboxed-spe1:hover {
  font-weight: bold; }

.btn-doubleboxed-spe1:hover::before {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe1:hover::after {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe2 {
  color: #E3C120;
  width: 15em;
  height: 3em;
  z-index: 1;
  text-align: center;
  line-height: 3em;
  font-family: roboto;
  cursor: pointer; }

.btn-doubleboxed-spe2::before {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #E3C120;
  z-index: 2;
  transition: margin 0.3s;
  margin: 0px 0 0 0px;
  transform: translateY(0); }

.btn-doubleboxed-spe2::after {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #E3C120;
  z-index: 2;
  transition: margin 0.3s;
  margin: 4px 0 0 4px;
  transform: translateY(calc(-100% + 4px)); }

.btn-doubleboxed-spe2:hover {
  font-weight: bold; }

.btn-doubleboxed-spe2:hover::before {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe2:hover::after {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe3 {
  color: #FF6F94;
  width: 15em;
  height: 3em;
  z-index: 1;
  text-align: center;
  line-height: 3em;
  font-family: roboto;
  cursor: pointer; }

.btn-doubleboxed-spe3::before {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #FF6F94;
  z-index: 2;
  transition: margin 0.3s;
  margin: 0px 0 0 0px;
  transform: translateY(0); }

.btn-doubleboxed-spe3::after {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #FF6F94;
  z-index: 2;
  transition: margin 0.3s;
  margin: 4px 0 0 4px;
  transform: translateY(calc(-100% + 4px)); }

.btn-doubleboxed-spe3:hover {
  font-weight: bold; }

.btn-doubleboxed-spe3:hover::before {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe3:hover::after {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe4 {
  color: #3AD893;
  width: 15em;
  height: 3em;
  z-index: 1;
  text-align: center;
  line-height: 3em;
  font-family: roboto;
  cursor: pointer; }

.btn-doubleboxed-spe4::before {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #3AD893;
  z-index: 2;
  transition: margin 0.3s;
  margin: 0px 0 0 0px;
  transform: translateY(0); }

.btn-doubleboxed-spe4::after {
  position: absolute;
  display: block;
  width: 15em;
  height: 3em;
  content: "";
  border: 2px solid #3AD893;
  z-index: 2;
  transition: margin 0.3s;
  margin: 4px 0 0 4px;
  transform: translateY(calc(-100% + 4px)); }

.btn-doubleboxed-spe4:hover {
  font-weight: bold; }

.btn-doubleboxed-spe4:hover::before {
  margin: 2px 0 0 2px; }

.btn-doubleboxed-spe4:hover::after {
  margin: 2px 0 0 2px; }

.form-input-default {
  background-image: url("../svg/default.svg");
  font-family: roboto;
  width: 90%;
  max-width: 800px;
  height: 5vh;
  font-size: 16px;
  padding-left: 70px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 1px solid #FFFEFC;
  color: #FFFEFC;
  font-style: italic;
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: auto 60%; }

.form-input-login:focus {
  outline: none; }

.form-input-login {
  background-image: url("../svg/login.svg");
  font-family: roboto;
  width: 90%;
  max-width: 800px;
  height: 5vh;
  font-size: 16px;
  padding-left: 70px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 1px solid #FFFEFC;
  color: #FFFEFC;
  font-style: italic;
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: auto 60%; }

.form-input-login:focus {
  outline: none; }

.form-input-pass {
  background-image: url("../svg/pass.svg");
  font-family: roboto;
  width: 90%;
  max-width: 800px;
  height: 5vh;
  font-size: 16px;
  padding-left: 70px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom: 1px solid #FFFEFC;
  color: #FFFEFC;
  font-style: italic;
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: auto 60%; }

.form-input-login:focus {
  outline: none; }

.btn-basic-black {
  background-color: black;
  border-radius: 50px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  min-width: 100px;
  transition: background-color 0.5s;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: 500; }

.btn-basic-black:hover {
  background-color: #4d4d4d; }

.btn-basic-black:focus {
  outline: none; }

.btn-basic-white {
  background-color: white;
  border-radius: 50px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  min-width: 100px;
  transition: background-color 0.5s;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: 500; }

.btn-basic-white:hover {
  background-color: white; }

.btn-basic-white:focus {
  outline: none; }

.btn-basic-spe1 {
  background-color: #00A2D6;
  border-radius: 50px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  min-width: 100px;
  transition: background-color 0.5s;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: 500; }

.btn-basic-spe1:hover {
  background-color: #24caff; }

.btn-basic-spe1:focus {
  outline: none; }

.btn-basic-spe2 {
  background-color: #E3C120;
  border-radius: 50px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  min-width: 100px;
  transition: background-color 0.5s;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: 500; }

.btn-basic-spe2:hover {
  background-color: #ecd464; }

.btn-basic-spe2:focus {
  outline: none; }

.btn-basic-spe3 {
  background-color: #FF6F94;
  border-radius: 50px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  min-width: 100px;
  transition: background-color 0.5s;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: 500; }

.btn-basic-spe3:hover {
  background-color: #ffbccd; }

.btn-basic-spe3:focus {
  outline: none; }

.btn-basic-spe4 {
  background-color: #3AD893;
  border-radius: 50px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  padding: 10px 25px;
  min-width: 100px;
  transition: background-color 0.5s;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: 500; }

.btn-basic-spe4:hover {
  background-color: #7ae5b6; }

.btn-basic-spe4:focus {
  outline: none; }

.form-light-container {
  padding: 5px 20px;
  background-color: #FFFEFC;
  width: 94%;
  margin-left: 3%; }

.form-light {
  outline: none;
  display: block;
  width: 100%;
  padding: 2px 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 3px;
  font-size: 16px;
  font-family: roboto;
  height: 45px;
  resize: none;
  overflow: hidden; }

.form-light-button {
  text-align: center;
  background-color: #00A2D6;
  border: none;
  border-radius: 80px;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: roboto;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 10px; }

.form-light-button {
  background: linear-gradient(to bottom, #00A2D6 5%, #00A2D6 100%);
  background-color: #34CACA; }

.form-light-color {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: roboto;
  padding-left: 5px; }

.form-light-line {
  padding: 2px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-top: 10px;
  font-size: 16px;
  font-family: roboto;
  height: 45px;
  resize: none;
  overflow: hidden; }

.btn-icon-heart {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: url(../svg/heart.svg);
  background-size: 55% auto;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.btn-icon-heart:focus {
  outline: none; }

.btn-icon-home {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: url(../svg/home.svg);
  background-size: 55% auto;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.btn-icon-home:focus {
  outline: none; }

.btn-icon-cross {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: url(../svg/cross.svg);
  background-size: 55% auto;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.btn-icon-cross:focus {
  outline: none; }

.btn-icon-login {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: url(../svg/login.svg);
  background-size: 55% auto;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.btn-icon-login:focus {
  outline: none; }
